
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../templates/background_image2.jpeg);
    background-position: center;
    background-size: cover;
}

.container{
    width: 360px;
    height: 400px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
    overflow-y: auto;

}

h3{
    text-align: center;
    margin-bottom: 40px;
    color: #777;
}

.container form{
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
    transition: 0.8s;
}

form select, input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border:0;
    border-bottom: 1px solid #999;
    outline: none;
    background:transparent;
}

::placeholder{
    color:#777;
}

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: orange;
    border-radius: 30px;
    border:0;
    outline: none;
    color:#fff;
    cursor: pointer;
}

#form2, #form3, #form4, #form5, #form6, #form7, #form8, #form9, #form10, #form11, #form12, #summary, #results{
    left: 450px;
}

.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}
.step-col{
    width: 150px;
    text-align: center;
    color:#333;
    position: relative;
}

#progress{
    position: absolute;
    height: 100%;
    width: 32.7px;
    background: #ffad06;
}

#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ffad06 ;
}


.step-col{
    cursor: pointer;
}

#summary {
    left: 450px;
    text-align: center;
}

#summary h4 {
    margin-bottom: 20px;
}

#summaryTable {
    width: 100%;
    margin-top: 20px;
}

#summaryTable th,
#summaryTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#summaryTable th {
    background-color: rgb(221, 197, 151);
    font-weight: bold;
}