<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indoor Farm Management</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/images/favicon-32x32.png" type="image/x-icon">
    <script src="../static/script.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
   
</body>
</html>    